@model IEnumerable<Shop_DottiesShoes.Models.HoaDonBan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ADminDVC/Views/Shared/_Layout.cshtml";
    int tt = 1;
}

<title>QL Hóa Đơn Bán</title>
<h3> Hóa Đơn Bán</h3>

<button class="btn btn-primary" style="margin-bottom: 12px;">
    <i class="fa-solid fa-plus"></i>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "text-gray-100" })
</button>
<table class="table table-bordered table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                Thứ Tự
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang.DiaChi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(tt++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GhiChu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang.DiaChi)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.MaHDB }, new { @Class = "btn btn-warning fa fa-pencil" })
                    @Html.ActionLink(" ", "Details", new { id = item.MaHDB }, new { @Class = "btn btn-info fa fa-eye" })
                    @Html.ActionLink(" ", "Delete", new { id = item.MaHDB }, new { @Class = "btn btn-danger fa fa-trash", @Onclick = "return confirm'Bạn có chắc chắn muốn xóa khách hàng này không?'" })
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <!-- Page level plugins -->
    <script src="/Assets/ADmin/ADThay/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/Assets/ADmin/ADThay/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/Assets/ADmin/ADThay/js/demo/datatables-demo.js"></script>
}